.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper {
  width: 100%;
  /* max-width: 600px; */
  text-align: center;
  margin: 0 auto;
  padding: 60px 10px;
}

.unity-footer {
  position: relative;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 0px 0px 50px 0px ;
} 
.unity-webgl-logo {
  float:left; width: 204px; height: 38px; background: url('webgllogo.png');
}

.unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreenbutton.png'); }
